<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Autocomplete</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
  <style>
    .container {
      padding-top: 2rem;
      max-width: 768px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Type your query..</h2>
    <br>
    <select class="js-data-example-ajax form-control"></select>
  </div>

  <script>
    $('.js-data-example-ajax').select2({
      ajax: {
        url: 'http://127.0.0.1:5000/process_search',
        dataType: 'json'
      },
      templateResult: function(e) { return e.name; },
      templateSelection: function(e) { return e.name; },
      minimumInputLength:3

    });
  </script>
</body>
</html>